@font-face {
  src: url(../font/Comfortaa-VariableFont_wght.ttf);
  font-family: Comfortaa;
}

* {
  font-family: Comfortaa !important;
}

.center_sceen {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

h3 {
  padding: 0 1rem;
  color: darkcyan
}

.ul_style_isAuth {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 4rem;
}

.ul_style_is_notAuth {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 0;
}

li {
  margin: 0 1rem;
  padding: 3px;
}

button {
  /* border-radius: 20%; */
}

a {
  color:black;
  background-color: white;
  text-decoration: none;
  border-radius: 15px;
  width: 100px;
}


.spacer {
    flex: 1 1 auto;
}

app-search{
  margin-left: auto;
}

mat-toolbar {
  background-color: rgb(201, 201, 243);
}
