<mat-toolbar color="warm" *ngIf="isUserAuthenticated" >
  <!-- <span> <a mat-button routerLink="/">My List Post</a> </span> -->
  <div *ngIf="!isUserAuthenticated">
    <img [src]="imgPath" alt="">
    <h3> {{ username }} </h3>
    <app-search></app-search>
  </div>

  <img *ngIf="isUserAuthenticated" [src]="imgPath" alt="">
  <h3 *ngIf="isUserAuthenticated"> {{ username }} </h3>
  <app-search></app-search>


  <span class="spacer"></span>
  <ul  [ngClass]="{'ul_style_isAuth': isUserAuthenticated}">
    <!-- <li *ngIf="isUserAuthenticated"> <a mat-button routerLink="/create" routerLinkActive="mat-accent">Create New Post</a> </li> -->

    <li *ngIf="isUserAuthenticated"> <a mat-button routerLink="/message" routerLinkActive="mat-accent">Tin nhắn</a> </li>
    <li *ngIf="isUserAuthenticated"> <a mat-button routerLink="/contact" routerLinkActive="mat-accent">Danh bạ</a> </li>
    <li *ngIf="isUserAuthenticated"> <a mat-button routerLink="/add-friend" routerLinkActive="mat-accent">Thêm bạn</a> </li>
    <li *ngIf="isUserAuthenticated"> <a mat-button routerLink="/personal-information" routerLinkActive="mat-accent">Chỉnh sửa</a> </li>

    <li *ngIf="isUserAuthenticated"> <a mat-button (click)="onLogout()">Đăng xuất</a> </li>

  </ul>
</mat-toolbar>

<mat-toolbar class="ul_style_is_notAuth" color="warm" *ngIf="!isUserAuthenticated" [ngClass]="{'center_sceen': !isUserAuthenticated}">
  <li *ngIf="!isUserAuthenticated"> <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Đăng nhập</a> </li>
  <li *ngIf="!isUserAuthenticated"> <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Đăng ký</a> </li>
</mat-toolbar>




