<div *ngIf="isUserAuthenticated">
  <!-- Search Component -->
  <app-search></app-search>
  <!-- Menu -->
  <div class="row tabs-list">
    <div class="col">
      <div class="row tabs-card__item align-items-center active">
        <div class="col-md-3 col-4">
          <img src="{{ imgPath }}" alt="" class="img-fluid card__img" />
        </div>
        <div class="col-md-9 col-8">
          <div class="row">
            <span class="card__title">Tên bạn bè</span>
          </div>
          <div class="row">
            <span class="card__desc">
              Tin nhắn mới nhâtshdfjgasjgfsjhbdjb
            </span>
          </div>
        </div>
      </div>
      <div class="row tabs-card__item align-items-center">
        <div class="col-md-3 col-4">
          <img src="{{ imgPath }}" alt="" class="img-fluid card__img" />
        </div>
        <div class="col-md-9 col-8">
          <div class="row">
            <span class="card__title">Tên bạn bè</span>
          </div>
          <div class="row">
            <span class="card__desc">
              Tin nhắn mới nhâtshdfjgasjgfsjhbdjb
            </span>
          </div>
        </div>
      </div>
      <div class="row tabs-card__item align-items-center">
        <div class="col-md-3 col-4">
          <img src="{{ imgPath }}" alt="" class="img-fluid card__img" />
        </div>
        <div class="col-md-9 col-8">
          <div class="row">
            <span class="card__title">Tên bạn bè</span>
          </div>
          <div class="row">
            <span class="card__desc">
              Tin nhắn mới nhâtshdfjgasjgfsjhbdjb
            </span>
          </div>
        </div>
      </div>
      <div class="row tabs-card__item align-items-center">
        <div class="col-md-3 col-4">
          <img src="{{ imgPath }}" alt="" class="img-fluid card__img" />
        </div>
        <div class="col-md-9 col-8">
          <div class="row">
            <span class="card__title">Tên bạn bè</span>
          </div>
          <div class="row">
            <span class="card__desc">
              Tin nhắn mới nhâtshdfjgasjgfsjhbdjb
            </span>
          </div>
        </div>
      </div>
      <div class="row tabs-card__item align-items-center">
        <div class="col-md-3 col-4">
          <img src="{{ imgPath }}" alt="" class="img-fluid card__img" />
        </div>
        <div class="col-md-9 col-8">
          <div class="row">
            <span class="card__title">Tên bạn bè</span>
          </div>
          <div class="row">
            <span class="card__desc">
              Tin nhắn mới nhâtshdfjgasjgfsjhbdjb
            </span>
          </div>
        </div>
      </div>
      <div class="row tabs-card__item align-items-center">
        <div class="col-md-3 col-4">
          <img src="{{ imgPath }}" alt="" class="img-fluid card__img" />
        </div>
        <div class="col-md-9 col-8">
          <div class="row">
            <span class="card__title">Tên bạn bè</span>
          </div>
          <div class="row">
            <span class="card__desc">
              Tin nhắn mới nhâtshdfjgasjgfsjhbdjb
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
