

<div *ngIf="isUserAuthenticated" >

    <mat-card class="center-items">
      <img [src]="imgPath" alt="">
      <span>
        <h4> <b>Tên bạn bè</b> </h4>
        <h5>Tin nhắn mới nhất</h5>
      </span>
    </mat-card>

    <mat-card class="center-items">
      <img [src]="imgPath" alt="">
      <span>
        <h4> <b>Tên bạn bè</b> </h4>
        <h5>Tin nhắn mới nhất</h5>
      </span>
    </mat-card>

    <mat-card class="center-items">
      <img [src]="imgPath" alt="">
      <span>
        <h4> <b>Tên bạn bè</b> </h4>
        <h5>Tin nhắn mới nhất</h5>
      </span>
    </mat-card>

    <mat-card class="center-items">
      <img [src]="imgPath" alt="">
      <span>
        <h4> <b>Tên bạn bè</b> </h4>
        <h5>Tin nhắn mới nhất</h5>
      </span>
    </mat-card>

</div>

