#main {
  display: flex;
  margin-top: 1rem;
}

.center_sceen {
  display: flex;
  justify-content: center;
  align-items: center;
}

app-menu {
  color:forestgreen;
  width: 35%;
  height: auto;
  margin: 0 auto;

}

main {
  width: 60%;
  margin: 0 auto;
  padding: 0 auto;
}






