
  <div class="center-items background">
    <img [src]="imgPath" alt="">
    <span>
      <h4> <b>Tên bạn bè</b> </h4>
    </span>
  </div>

  <ul class="message_receive background">
    <li>
      <p mat-button >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo hic error deserunt alias rem, deleniti odit labore placeat totam sit, quam non ea laborum cupiditate at tenetur sed sunt optio.
      </p>
    </li>
  </ul>

  <ul class="message_send">
    <li> <p mat-button >send</p> </li>
  </ul>

  <ul class="message_receive background">
    <li>
      <p mat-button >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo hic error deserunt alias rem, deleniti odit labore placeat totam sit, quam non ea laborum cupiditate at tenetur sed sunt optio.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi quasi quisquam excepturi
      </p>
    </li>
  </ul>


  <mat-form-field>
    <textarea class="message_receive background"
      matInput
      rows="4"
      cols="10">
    </textarea>
    <a mat-button>Send</a>
    <a mat-button> <mat-icon> search </mat-icon> </a>
  </mat-form-field>








